.root{
    padding-left: 2rem;
    height:55%;
}
.title{
    font-size: 4vw;
    background: linear-gradient(to right, #414141 0%, #000000 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}